@using Mystivate.Code.Logic
@inject ISignInService SignInService
@inject IUserService UserService

@if (SignInService.IsSignedIn())
{
    <form asp-action="Logout" asp-controller="Account" id="logoutForm">
        <ul class="c-navbar-right">
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}