/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
html {
    height: 100%;
}

body {
    padding-top: 80px;
    background-color: #0F9AAA;
    font-family: Roboto, sans-serif;
    height: 100%;
}

p {
    color: white;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Berlin Sans FB', sans-serif;
    font-weight: normal;
}

a {
    color: #FFDD00;
}

    a:hover {
        color: #817E6B;
    }

li a {
    display: block;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cecece;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #868686;
    }

/*custom navbar*/
.c-navbar {
    background-color: #152D48;
    position: fixed;
    top: 0;
    width: 100%;
}

    .c-navbar h1 {
        font-size: 30px;
        line-height: 20px;
    }

    .c-navbar ul {
        margin: 0;
    }

    .c-navbar a {
        text-decoration: none;
    }

    /*.c-navbar li:hover {
        text-decoration: none;
        background-color: black
    }*/

    .c-navbar button {
        background-color: transparent;
        border: none;
        padding: 20px;
        font-size: 20px;
        font-family: 'Berlin Sans FB', sans-serif;
        color: white;
    }

        .c-navbar button:focus {
            outline: none;
        }

    .c-navbar ul {
        display: flex;
        padding: 0;
        list-style: none;
        align-items: center;
    }

        .c-navbar ul h1 {
            margin: 0;
        }

    .c-navbar .item-brand {
        margin-right: 20px;
    }

        .c-navbar .item-brand a {
            display: flex;
            width: 220px;
            align-items: center;
            justify-content: space-between;
        }

        .c-navbar .item-brand h1 {
            font-size: 30px !important;
        }

    .c-navbar li a {
        padding: 20px;
    }

    .c-navbar li h1 {
        font-size: 20px;
    }

    .c-navbar .item-right {
        margin-left: auto;
        margin-right: 10px;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.button {
    background-color: #EEB902;
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
}

    .button:hover {
        outline: 2px solid slategray;
        color: white;
        text-decoration: none;
    }

    .button:focus {
        outline: 2px solid slategray;
        color: white;
        text-decoration: none;
    }


/*Info page*/
.info-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.info-top {
    display: flex;
}

#info-logo {
    margin-top: 20px;
    margin-left: 25px;
    height: 70px;
}

#info-top-name {
    font-size: 60px;
    margin-left: 20px;
}

.info-main {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.info-main-content {
    width: 50%;
}

.info-main-infoblock {
    text-align: center;
    margin-right: 70px;
}

.info-moreinfo {
    align-self: center;
    margin-top: 60px;
}

.info-bottom {
    background-image: url(/images/InfoBG.svg);
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-items: center;
}

.info-bottom-infoblock {
    margin-top: 500px;
    text-align: center;
    width: 40%;
}

.info-bottom-flow {
    display: flex;
    align-items: flex-end;
    margin: 40px 0;
}

.info-bottom-flow-content {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

.info-bottom-flow-arrow {
    width: 60px;
    margin-bottom: 130px;
}

.info-footer {
    background-image: url(/images/InfoBottom.svg);
    background-size: cover;
    width: 100%;
    text-align: center;
}


/*login / register block*/
.account-block {
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    height: 600px;
    width: 500px;
    text-align: center;
    margin-left: 70px;
    padding: 40px;
}

.login-form {
    display: flex;
    flex-direction: column;
    height: 80%;
    text-align: center;
}

.login-form-submit {
    width: 80%;
    margin: auto auto 0 auto;
}

.form-input {
    /*border: 2px solid slategray;*/
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 28px 20px;
    box-sizing: border-box;
}

    .form-input:focus {
        outline: 2px solid slategray;
    }

.login-form-signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20%;
}

.login-form-signup-button {
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
}


/*index*/

.character-box {
    width: 90%;
    height: 40%;
    margin: 0 auto;
}

.tasks {
    height: 60%;
    display: flex;
    justify-content: space-around;
}

.tasks-box {
    width: 30%;
    background-color: white;
    height: 93%;
    display: flex;
    flex-direction: column;
}

.tasks-box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 30px 30px 0 30px;
}

    .tasks-box-top p {
        font-size: 30px;
        color: black;
        margin: 0;
    }

.add-task-button {
    background-color: #EEB902;
    border: none;
    font-size: 20px;
    color: white;
    width: 51px;
    height: 50px;
    border-radius: 10px;
    position: relative;
}

    .add-task-button:focus {
        outline: none;
    }

    .add-task-button .rect-vert {
        background-color: white;
        position: absolute;
        width: 7px;
        height: 35px;
        border-radius: 4px;
        top: 50%;
        left: 50%;
        margin: -17.5px 0 0 -3.5px;
    }

    .add-task-button .rect-hori {
        background-color: white;
        position: absolute;
        width: 35px;
        height: 7px;
        border-radius: 4px;
        top: 50%;
        left: 50%;
        margin: -3.5px 0 0 -17.5px;
    }

#add-daily {
    background-color: #EEB902;
}

#add-habit {
    background-color: #0FC978;
}

#add-todo {
    background-color: #EC5A5A;
}

.task-container {
    margin: 10px 0 20px 0;
    overflow: scroll;
    height: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
    padding: 5px 30px;
}

.task {
    transition: background-color 1s ease, box-shadow 0.1s ease;
    width: 100%;
    height: 60px;
    border-radius: 12px;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    margin-top: 3px;
    position: relative;
}

    .task p {
        transition: color 1s ease;
        color: black;
        font-size: 18px;
        margin: 0 14px 0 14px;
        overflow: hidden;
    }

    .task:hover {
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.6);
        z-index: 1;
        border: 2px solid #696969;
    }

.positive {
    background-color: #ddfff0;
}

.negative {
    background-color: #ffdfdf;
}

/*#daily-container .task:hover {
    border: 2px solid #EEB902;
}

#habit-container .task:hover {
    border: 2px solid #696969;
}

#todo-container .task:hover {
    border: 2px solid #f66c6c;
}*/

.task-tick-button {
    transition: background-color 1s ease;
    background-color: #EEB902;
    border: none;
    width: 56px;
    height: 56px;
    border-radius: 10px 0 0 10px;
    flex-shrink: 0;
}

    .task-tick-button:focus {
        outline: none;
    }

    .task-tick-button:hover .tick-left {
        transition: none;
        background-color: #EEB902;
    }

    .task-tick-button:hover .tick-right {
        transition: none;
        background-color: #EEB902;
    }

.tick-box {
    width: 41px;
    height: 42px;
    margin: auto auto;
    border-radius: 10px;
    background-color: white;
}

    .tick-box .tick-left {
        transition: background-color 0.3s ease;
        position: relative;
        background-color: #dadada;
        width: 12px;
        height: 6px;
        transform: rotate(38deg);
        top: 23px;
        left: 10px;
    }

    .tick-box .tick-right {
        transition: background-color 0.3s ease;
        position: relative;
        background-color: #dadada;
        width: 17px;
        height: 6px;
        transform: rotate(128deg);
        top: 11px;
        left: 16px;
    }

.habit-button {
    background-color: #0FC978;
    border: none;
    width: 56px;
    height: 56px;
    border-radius: 10px 0 0 10px;
    flex-shrink: 0;
}

    .habit-button:focus {
        outline: none;
    }

    .habit-button:hover .habit-vert {
        transition: none;
        background-color: #0FC978;
    }

    .habit-button:hover .habit-hori {
        transition: none;
        background-color: #0FC978;
    }

.habit-button-negative {
    background-color: #F66C6C;
    margin-left: auto;
    border-radius: 0 10px 10px 0;
}

    .habit-button-negative:hover .habit-hori {
        background-color: #F66C6C;
    }

.habit-button-box {
    position: relative;
    width: 41px;
    height: 42px;
    margin: auto auto;
    border-radius: 50%;
    background-color: white;
}

    .habit-button-box .habit-vert {
        transition: background-color 0.3s ease;
        position: absolute;
        width: 5px;
        height: 25px;
        border-radius: 4px;
        background-color: #dadada;
        top: 50%;
        left: 50%;
        margin: -12px 0 0 -2.5px;
    }

    .habit-button-box .habit-hori {
        transition: background-color 0.3s ease;
        position: absolute;
        width: 24px;
        height: 5px;
        border-radius: 4px;
        background-color: #dadada;
        top: 50%;
        left: 50%;
        margin: -2.5px 0 0 -12px;
    }


.todo-button {
    background-color: #F66C6C;
    flex-shrink: 0;
}

    .todo-button:hover .tick-left {
        transition: none;
        background-color: #F66C6C;
    }

    .todo-button:hover .tick-right {
        transition: none;
        background-color: #F66C6C;
    }

.done {
    background-color: #E1E1E1;
}

    .done p {
        color: #303030;
    }

    .done .task-tick-button {
        background-color: #979797;
    }

    .done .tick-box .tick-left {
        background-color: #979797;
    }

    .done .tick-box .tick-right {
        background-color: #979797;
    }

.add-task-input {
    width: 100%;
    margin-left: 9px;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 20px;
    border: none;
    height: 56px;
}

    .add-task-input:focus {
        outline: none;
    }

.new-task-button {
    background-color: #F5AD32;
    border: none;
    width: 56px;
    height: 56px;
    border-radius: 0 10px 10px 0;
    margin-left: auto;
    position: relative;
}

    .new-task-button .new-task-vert {
        position: absolute;
        width: 5px;
        height: 24px;
        border-radius: 4px;
        background-color: #F5AD32;
        top: 50%;
        left: 50%;
        margin: -12px 0 0 -2.5px;
    }

    .new-task-button .new-task-hori {
        position: absolute;
        width: 24px;
        height: 5px;
        border-radius: 4px;
        background-color: #F5AD32;
        top: 50%;
        left: 50%;
        margin: -2.5px 0 0 -12px;
    }

#xp-notify-box {
    position: absolute;
    top: 106px;
    right: 81px;
    display: flex;
    flex-direction: column-reverse;
}

.xp-notify {
    width: 118px;
    height: 38px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 7px;
    box-shadow: 6px 4px 14px 0px rgba(0, 0, 0, 0.28);
    margin-top: 9px;
}

    .xp-notify p {
        color: #ebd651;
        font-size: 17px;
        margin: 0 auto;
    }

.xp-notify img {
    width: 26px;
}
