/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding-top: 80px;
    background-color: #0F9AAA;
    font-family: Roboto, sans-serif;
    height: 100%;
}

p {
    margin: 0;
    color: white;
    font-size: 15px;
}

/*h2{
    font-size: 30px;
}*/

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Berlin Sans FB', sans-serif;
    font-weight: normal;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

a {
    color: #FFDD00;
}

    a:hover {
        color: #817E6B;
    }

li a {
    display: block;
}

button {
    font-family: Roboto, sans-serif;
    background: none;
    border: none;
    cursor: pointer;
}

    button:focus {
        outline: none;
    }

    button:disabled {
        cursor: default;
    }

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cecece;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #868686;
    }

/*custom navbar*/
.navbar {
    background-color: #24364e;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

    .navbar h1 {
        font-size: 30px;
        line-height: 20px;
    }

    .navbar ul {
        margin: 0;
    }

    .navbar a {
        text-decoration: none;
    }

    /*.navbar li:hover {
        text-decoration: none;
        background-color: black
    }*/

    .navbar button {
        background-color: transparent;
        border: none;
        padding: 20px;
        font-size: 20px;
        font-family: 'Berlin Sans FB', sans-serif;
        color: white;
    }

        .navbar button:focus {
            outline: none;
        }

    .navbar ul {
        display: flex;
        padding: 0;
        list-style: none;
        align-items: center;
    }

        .navbar ul h1 {
            margin: 0;
        }

    .navbar .item-brand {
        margin-right: 20px;
    }

        .navbar .item-brand a {
            display: flex;
            width: 220px;
            align-items: center;
            justify-content: space-between;
        }

        .navbar .item-brand h1 {
            font-size: 30px !important;
        }

    .navbar li a {
        padding: 20px;
    }

    .navbar li h1 {
        font-size: 20px;
    }

    .navbar .item-right {
        margin-left: auto;
        margin-right: 10px;
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.button {
    background-color: #EEB902;
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
}

    .button:hover {
        outline: 2px solid slategray;
        color: white;
        text-decoration: none;
    }

    .button:focus {
        outline: 2px solid slategray;
        color: white;
        text-decoration: none;
    }


/*Info page*/
.info-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.info-top {
    display: flex;
}

#info-logo {
    margin-top: 20px;
    margin-left: 25px;
    height: 70px;
}

#info-top-name {
    font-size: 60px;
    margin-left: 20px;
}

.info-main {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.info-main-content {
    width: 50%;
}

.info-main-infoblock {
    text-align: center;
    margin-right: 70px;
}

.info-moreinfo {
    align-self: center;
    margin-top: 60px;
}

.info-bottom {
    background-image: url(/images/InfoBG.svg);
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-items: center;
}

.info-bottom-infoblock {
    margin-top: 500px;
    text-align: center;
    width: 40%;
}

.info-bottom-flow {
    display: flex;
    align-items: flex-end;
    margin: 40px 0;
}

.info-bottom-flow-content {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

.info-bottom-flow-arrow {
    width: 60px;
    margin-bottom: 130px;
}

.info-footer {
    background-image: url(/images/InfoBottom.svg);
    background-size: cover;
    width: 100%;
    text-align: center;
}


/*login / register block*/
.account-block {
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    height: 600px;
    width: 500px;
    text-align: center;
    margin-left: 70px;
    padding: 40px;
}

.login-form {
    display: flex;
    flex-direction: column;
    height: 80%;
    text-align: center;
}

.login-form-submit {
    width: 80%;
    margin: auto auto 0 auto;
}

.form-input {
    /*border: 2px solid slategray;*/
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 28px 20px;
    box-sizing: border-box;
}

    .form-input:focus {
        outline: 2px solid slategray;
    }

.login-form-signup {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20%;
}

.login-form-signup-button {
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
}

/* Character */

.character-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    min-height: 355px;
    padding: 33px 40px;
}

.character-box {
    width: 192px;
    height: 192px;
    background-color: white;
    box-shadow: 5px 4px 20px #0000003b;
    margin-right: 32px;
    position: relative;
}

    .character-box img {
        position: absolute;
    }

.character-info {
}

.progress-box {
    display: flex;
    margin-top: 7px;
    align-items: center;
}

.progress {
    background-color: #00000017;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    width: 300px;
    height: 20px;
    position: relative;
}

.progress-val {
    background-color: #ffffff;
    height: 100%;
    width: 0%;
    border-radius: 2px;
    transition: width 2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .progress-val p {
        transition: margin 2s ease;
        position: absolute;
        margin-left: 16px;
    }

.progress-max {
    margin: 0 0 0 10px;
}

.progress-tooltip {
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 8px);
    opacity: 0;
    transition: opacity 0.2s;
    background: #00000082;
    color: white;
    padding: 6px;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

    .progress-tooltip::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #00000082 transparent;
    }

.progress:hover .progress-tooltip {
    visibility: visible;
    opacity: 1;
}

#xp-bar .progress-val {
    background-color: #EBD651;
}

#level {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

#health-bar .progress-val {
    background-color: #EC5252;
}

#health-bar .progress-val {
    width: 100%;
}

#health-bar p {
    margin-left: 0px;
}

.coin-box {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

    .coin-box img {
        width: 25px;
        filter: drop-shadow( 0px 0px 3px rgba(0,0,0, 0.2));
    }

    .coin-box p {
        margin-left: 5px;
        font-size: 18px;
    }

/* Tasks*/
.tasks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px;
}

.tasks-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 4px 20px #0000003b;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 400px;
    max-width: 592px;
    margin: 0 20px;
    height: 500px;
    margin-bottom: 30px;
}

.tasks-box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 30px 30px 0 30px;
}

    .tasks-box-top p {
        font-size: 24px;
        color: black;
        margin: 0;
    }

.add-task-button {
    background-color: #EEB902;
    border: none;
    font-size: 20px;
    color: white;
    width: 51px;
    height: 50px;
    border-radius: 10px;
    position: relative;
}

    .add-task-button:focus {
        outline: none;
    }

    .add-task-button .rect-vert {
        background-color: white;
        position: absolute;
        width: 7px;
        height: 35px;
        border-radius: 4px;
        top: 50%;
        left: 50%;
        margin: -17.5px 0 0 -3.5px;
    }

    .add-task-button .rect-hori {
        background-color: white;
        position: absolute;
        width: 35px;
        height: 7px;
        border-radius: 4px;
        top: 50%;
        left: 50%;
        margin: -3.5px 0 0 -17.5px;
    }

#add-daily {
    background-color: #EEB902;
}

#add-habit {
    background-color: #0FC978;
}

#add-todo {
    background-color: #EC5A5A;
}

.task-container {
    margin: 10px 0 20px 0;
    overflow: scroll;
    height: 390px;
    overflow-x: hidden;
    overflow-y: overlay;
    padding: 5px 30px;
}

.task {
    transition: background-color 1s ease, box-shadow 0.1s ease;
    width: 100%;
    height: 60px;
    border-radius: 12px;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    margin-top: 3px;
    position: relative;
}

    .task p {
        transition: color 1s ease;
        color: black;
        font-size: 17px;
        margin: 0 14px 0 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .task:hover {
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.6);
        z-index: 1;
        border: 2px solid #696969;
    }

.positive {
    background-color: #ddfff0;
}

.negative {
    background-color: #ffdfdf;
}

/*#daily-container .task:hover {
    border: 2px solid #EEB902;
}

#habit-container .task:hover {
    border: 2px solid #696969;
}

#todo-container .task:hover {
    border: 2px solid #f66c6c;
}*/

.task-tick-button {
    transition: background-color 1s ease;
    background-color: #EEB902;
    border: none;
    width: 56px;
    height: 56px;
    border-radius: 10px 0 0 10px;
    flex-shrink: 0;
}

    .task-tick-button:focus {
        outline: none;
    }

    .task-tick-button:hover .tick-left {
        transition: none;
        background-color: #EEB902;
    }

    .task-tick-button:hover .tick-right {
        transition: none;
        background-color: #EEB902;
    }

.tick-box {
    width: 41px;
    height: 42px;
    margin: auto auto;
    border-radius: 10px;
    background-color: white;
}

    .tick-box .tick-left {
        transition: background-color 0.3s ease;
        position: relative;
        background-color: #dadada;
        width: 12px;
        height: 6px;
        transform: rotate(38deg);
        top: 23px;
        left: 10px;
    }

    .tick-box .tick-right {
        transition: background-color 0.3s ease;
        position: relative;
        background-color: #dadada;
        width: 17px;
        height: 6px;
        transform: rotate(128deg);
        top: 11px;
        left: 16px;
    }

.habit-button {
    background-color: #0FC978;
    border: none;
    width: 56px;
    height: 56px;
    border-radius: 10px 0 0 10px;
    flex-shrink: 0;
}

    .habit-button:focus {
        outline: none;
    }

    .habit-button:hover .habit-vert {
        transition: none;
        background-color: #0FC978;
    }

    .habit-button:hover .habit-hori {
        transition: none;
        background-color: #0FC978;
    }

.habit-button-negative {
    background-color: #F66C6C;
    border-radius: 0 10px 10px 0;
}

    .habit-button-negative:hover .habit-hori {
        background-color: #F66C6C;
    }

.habit-button-box {
    position: relative;
    width: 41px;
    height: 42px;
    margin: auto auto;
    border-radius: 50%;
    background-color: white;
}

    .habit-button-box .habit-vert {
        transition: background-color 0.3s ease;
        position: absolute;
        width: 5px;
        height: 25px;
        border-radius: 4px;
        background-color: #dadada;
        top: 50%;
        left: 50%;
        margin: -12px 0 0 -2.5px;
    }

    .habit-button-box .habit-hori {
        transition: background-color 0.3s ease;
        position: absolute;
        width: 24px;
        height: 5px;
        border-radius: 4px;
        background-color: #dadada;
        top: 50%;
        left: 50%;
        margin: -2.5px 0 0 -12px;
    }


.todo-button {
    background-color: #F66C6C;
    flex-shrink: 0;
}

    .todo-button:hover .tick-left {
        transition: none;
        background-color: #F66C6C;
    }

    .todo-button:hover .tick-right {
        transition: none;
        background-color: #F66C6C;
    }

.done {
    background-color: #E1E1E1;
}

    .done p {
        color: #303030;
    }

    .done .task-tick-button {
        background-color: #979797;
    }

    .done .tick-box .tick-left {
        background-color: #979797;
    }

    .done .tick-box .tick-right {
        background-color: #979797;
    }

.add-task-input {
    width: 100%;
    margin-left: 9px;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 20px;
    border: none;
    height: 56px;
}

    .add-task-input:focus {
        outline: none;
    }

.new-task-button {
    background-color: #F5AD32;
    border: none;
    width: 56px;
    height: 56px;
    border-radius: 0 10px 10px 0;
    margin-left: auto;
    position: relative;
}

    .new-task-button .new-task-vert {
        position: absolute;
        width: 5px;
        height: 24px;
        border-radius: 4px;
        background-color: #F5AD32;
        top: 50%;
        left: 50%;
        margin: -12px 0 0 -2.5px;
    }

    .new-task-button .new-task-hori {
        position: absolute;
        width: 24px;
        height: 5px;
        border-radius: 4px;
        background-color: #F5AD32;
        top: 50%;
        left: 50%;
        margin: -2.5px 0 0 -12px;
    }

.dropdown {
    margin-left: auto;
    margin-right: 18px;
    position: relative;
}

.dropdown-button {
    background: none;
    border: none;
    opacity: 0;
    transition: opacity ease 0.1s;
    padding: 4px 8px;
}

    .dropdown-button:focus {
        outline: none;
    }

    .dropdown-button img {
        height: 20px;
    }

.dropdown-button-tasks {
    background-image: url(/images/Dropdown.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.task:hover .dropdown-button {
    opacity: 1;
}

.dropdown-menu {
    background-color: white;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    width: 150px;
    position: absolute;
    left: -131px;
    margin-top: 4px;
    z-index: 10;
    display: none;
    padding: 6px 0;
    border-radius: 3px;
}

.show .dropdown-button {
    opacity: 1;
}

.show .dropdown-menu {
    display: flex;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 8px 5px 8px 14px;
}

    .dropdown-item:hover {
        background-color: #f7f7f7;
    }

    .dropdown-item img {
        height: 26px;
    }

.dropup .dropdown-menu {
    bottom: 25px;
}


/*XP notification*/
#notify-box {
    position: fixed;
    top: 106px;
    right: 81px;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 15px 16px 0;
    overflow: hidden;
    max-height: 242px;
    z-index: 10;
}

.notify {
    height: 38px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 7px;
    box-shadow: 6px 4px 14px 0px rgba(0, 0, 0, 0.28);
    margin-top: 9px;
    flex-shrink: 0;
    align-self: flex-end;
}

    .notify p {
        color: #ebd651;
        font-size: 17px;
        margin: 0 auto;
    }

    .notify img {
        margin-left: 20px;
        width: 26px;
        max-height: 26px;
    }

.damage-notify p {
    color: black;
}

/* Quest page */
.quest-page-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.quest-container {
    background-image: url(/images/QuestBG.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 432px;
    height: 699px;
    filter: drop-shadow( 5px 5px 10px rgba(0,0,0, 0.4));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quest-name {
    display: block;
    background-image: url(/images/QuestNameBG.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 65px;
    line-height: 65px;
    width: 550px;
    text-align: center;
    font-size: 29px;
    margin: 13px 0 0 0;
    filter: drop-shadow( 0px 0px 4px rgba(0,0,0, 0.4));
}

.boss-image-box {
    /*padding: 8px 1px;*/
}

.boss-image {
    height: 384px;
    display: block;
    margin: 9px;
}

.boss-health {
    width: 94%;
    background-color: #162e49;
    padding: 10px 4px;
}

    .boss-health .progress-box {
        margin: 0 auto;
    }

    .boss-health .progress {
        width: 100%;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.29);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.62) inset;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .boss-health .progress-val {
        background-color: #d93939 !important;
        position: absolute;
        left: 0;
        align-items: flex-end;
    }

    .boss-health .boss-health-val {
        position: relative;
    }

    .boss-health .boss-percentage {
        position: relative;
        margin-left: 23px
    }

    .boss-health p {
        line-height: 30px;
        font-size: 18px;
        text-align: center;
    }

.progress-val-bottom {
    height: 36%;
    width: 100%;
    background-color: #a92727;
    border-radius: 0px 0px 2px 2px;
}

#boss-health-bar .progress-val {
    background-color: #EC5252;
}

#boss-health-bar .progress-val {
    width: 100%;
}

.damage-box {
    width: 93%;
}

    .damage-box p {
        color: black;
        margin-top: 6px;
        margin-left: 10px;
        font-weight: 500;
        font-size: 13px;
    }

.damage-done {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

    .damage-done img {
        width: 30px;
        filter: drop-shadow( 1px 1px 2px rgba(0,0,0, 0.6));
    }

    .damage-done p {
        font-size: 17px;
        margin: 11px 0 0 8px;
    }

.quest-inventory {
    height: 780px;
    width: 770px;
    background-color: white;
    border: 8px solid #162e49;
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.4);
    display: flex;
    flex-direction: column;
}

    .quest-inventory h2 {
        padding: 5px;
        text-align: center;
        background-color: #d93939;
        margin-top: 13px;
        margin-bottom: 0px;
        width: 100%;
    }

    .quest-inventory p {
        color: black;
    }

.quest-inventory-slot-box {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-top: 10px;
    min-height: 691px;
    overflow-x: hidden;
    overflow-y: overlay;
}

    .quest-inventory-slot-box h3 {
        color: #162e49;
        text-align: center;
        margin: 0;
    }

    .quest-inventory-slot-box hr {
        width: 100%;
        border-color: #162e49;
        margin: 8px 0 0 0;
    }

.quest-inventory-slot {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    border-top: 2px solid #162e49;
    border-bottom: 2px solid #162e49;
    margin: 5px 0;
}

    .quest-inventory-slot img {
        width: 64px;
        border-right: 2px solid #162e49;
    }

.quest-inventory-info {
    margin-left: 4px;
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .quest-inventory-info h3 {
        margin: 2px 0;
        color: black;
        text-align: left;
    }

.quest-inventory-options {
    margin-left: auto;
    height: 62px;
    display: flex;
    align-items: flex-end;
}

.quest-inventory-button {
    color: white;
    font-size: 15px;
    background-color: #162e49;
    padding: 5px 10px;
}

    .quest-inventory-button.completed {
        background-color: #d93939;
    }

/* Inventory Page */
.inventory-div {
    display: flex;
    /*flex-wrap: wrap;*/
    align-items: center;
    width: 100%;
    height: 100%;
}

.inventory-character-box {
    height: 500px;
    width: 50%;
    margin: 20px;
    align-self: flex-start;
}

.inventory-box {
    height: 771px;
    width: 964px;
    margin: 20px;
    background-color: white;
    box-shadow: 5px 4px 20px #0000003b;
}

    .inventory-box h3, .inventory-box p {
        color: black;
    }

.inventory-catagory-box {
    margin: 15px;
}

    .inventory-catagory-box hr {
        border-color: #24364e;
    }

    .inventory-catagory-box h3 {
        margin: 10px 0;
        color: #24364e;
    }

.inventory-slot-box-box {
    max-height: 262px;
    overflow: auto;
}

.inventory-slot-box {
    display: flex;
    flex-wrap: wrap;
}

.inventory-slot {
    width: 81px;
    height: 81px;
    margin: 3px;
    outline: 2px solid #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c9f9ff;
}

    .inventory-slot img {
        max-width: 75px;
        max-height: 75px;
    }

/* Shop Page */

.shop-div {
    display: flex;
    /*flex-wrap: wrap;*/
    align-items: center;
    width: 100%;
    height: 100%;
}

.shop-box {
    height: 800px;
    width: 50%;
    margin: 20px;
    background-color: white;
    box-shadow: 5px 4px 20px #0000003b;
    padding: 20px;
}

    .shop-box h3 {
        color: black;
    }

.shop-slot-box {
    display: flex;
    flex-wrap: wrap;
}

.shop-slot {
    width: 81px;
    height: 81px;
    outline: 2px solid #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f9aaa;
}

.shop-slot-with-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    box-shadow: 5px 4px 20px #0000003b;
}

.shop-slot img {
    max-width: 75px;
    max-height: 75px;
}


.shop-price {
    text-align: center;
    width: 81px;
    height: 30px;
    outline: 2px solid #404040;
    display: flex;
    align-items: center;
    margin-top: 2px;
    justify-content: center;
}

    .shop-price img {
        width: 20px;
    }

    .shop-price p {
        color: black;
        line-height: 30px;
        margin-left: 5px;
    }
